notifications {
    display: block;
    background-color: #d6dde7;
    border-bottom: 2px solid #9cb4c5;
    color: #305d8c;
    font-weight: bold;
    padding: 4px 0;
    margin: 0;
    text-align: center;

    &.success {
        background-color: #cde0c4;
        border-bottom: 2px solid #8ac38b;
        color: #356635;
    }

    &.warning {
        background-color: #efe1b3;
        border-bottom: 2px solid #dfb56c;
        color: #826430;
    }

    &.danger {
        background-color: #c26565;
        border-bottom: 2px solid #953b39;
        color: #fff;
    }
}